.settings-section{
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.button-settings-style{
    color: #FFFFFF;
    background-color: var(--color02);

    width: 40%;
    padding: 10px;
    max-width: 550px;

    cursor: pointer;
    margin: 1% 0 1% 0;
    font-size: 1.2rem;
    
}

.logo-title-settings{
    width: 50%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.logo-title-settings img{
    width: 40px;
}

.buttons-settings{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 90%;
    height: 60%;

}

