

*{
    margin: 0;
    padding: 0;
    font-family: var(--MainFont);
}

@font-face {
    font-family: 'Altone Trial';
    src: url(../public/font/altone/Altone\ Trial-Bold.ttf) format('ttf');

}

@font-face {
    font-family: 'Poppins';
    src: url(../public/font/poppins/Poppins-Regular.ttf) format('ttf');
}

:root{
    --color00: #00FF37;
    --color01: #00FF8C;
    --color02: #270089;
    --color03: #11003D;
    --color04: #A0A1A7;
    --color05: #D9D9D9;

    --MainFont: 'Altone Trial';
    --SecondFont: 'Poppins';
}

.logo-title{
    width: 80%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.password-user{
    width: 500px;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.password-user input{
    padding-block: 15px;
    padding-inline: 12px;
    width: 80%;
    border: 2px solid var(--color03);
    border-radius: 15px;

    font-family: var(--SecondFont);
}

.image-logo-small{
    width: 100px;
    height: 100px;
    margin: 0 0 10px 0;
    background-image: url(../src/assets/image/agrosense-logo.png);
    background-size: cover;
}

.title-agrosense-small{
    font-size: 3rem;
    width: fit-content;
    cursor: pointer;

    font-family: var(--MainFont);
    font-weight: 200;
}

.button-acess{
    width: 37%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px 0 0 0 ;

    button{
        width: 45%;
        font-size: 1.2rem;
        padding: 10px;
        cursor: pointer;
        color: var(--color00);
        background-color: var(--color03);
    }

    p{
        margin: 15px 0 0 0 ;
    }

    span{
        font-weight: bold;
        cursor: pointer;
    }
}

.button-style{
    width: 150px;
    padding: 5px;
    cursor: pointer;

    background-color: var(--color02);
    color: #FFFFFF;
}

.gradient-text{
    background: linear-gradient(90deg, var(--color03), var(--color00));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header-agrosense{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid var(--color04);

    height: 110px;
    
    font-family: 'var(--SecondFont)';
    font-weight: normal;
}

.header-agrosense img{
    cursor: pointer;
}